argcomplete==1.12.3
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==2.0.12
cryptography==40.0.2
dxpy==0.346.0
exceptiongroup==1.2.2
general-utilities @ file:///Users/alish.palmos/PycharmProjects/general_utilities
google-api-core==2.24.2
google-auth==2.38.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
idna==3.10
importlib-resources==5.12.0
iniconfig==2.1.0
numpy==1.23.2
packaging==24.2
pandas==1.5.2
patsy==1.0.1
pluggy==1.5.0
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pysam==0.22.1
pytest==7.4.4
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.27.1
rsa==4.9
scipy==1.10.1
setuptools==60.2.0
six==1.17.0
statsmodels==0.13.2
toml==0.10.2
tomli==2.2.1
urllib3==1.26.20
websocket-client==0.54.0
zipp==3.20.2
zstd==1.5.5.1
